@CHARSET "UTF-8";


.boardtitle{
	cursor: pointer;
}

.btnPlace {
	margin-right: 5%;
}

.write {
    margin-top: 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding-bottom: 4px;
}

#writeFrm{
	margin-bottom: 0px;
}

.writeText {
	border: none;
	width: 100%;
}
.writeTextA {
	border: none;
	width: 100%; 
	height: 300px;
}

.boardContainer{
    width: 90%;
    display: table;
    margin-left: 5%;
    text-align: left;
    margin-top: 20px;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}

table.boardContainer>tbody>tr>th, table.boardContainer>tbody>tr>td {
       border: 1px solid #d0d0d0;
}

