@CHARSET "UTF-8";

.head{
	height: 14.5%; 
	background-color: #ddd;
	 display: -webkit-flex;
	  border: solid 1px;
	   align-items: center;
}

.headText{
	width: 100%; 
	font-size: 1.64rem;
	line-height: 110%; 
	margin: 0.82rem 0 0.656rem 0; 
	text-align: center;
}

.resultDescrition{
    height: 398px;
    overflow: hidden;
}


/* top */
.menu{
	height: 10%;
	border: solid 1px; 
	display: flex;
	min-height: 88px;
}

.menudv{
	width: 33.3%;
    border: solid 1px;
    text-align: center;
    min-height: 88px; 
}

.menua {
	 text-decoration: none;
    color: black;
    font-weight: 800;
    display: table;
    margin-left: auto;
    margin-right: auto;
    min-height: 88px; 
}

.menusp {
    display: block;
    padding-top: 35%;
    font-size: 20px;
    min-height: 88px;    
}