@CHARSET "UTF-8";

.wrapper {
	width: 100%;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 5px;
    max-height: 980px;	
}

.head{
    background-color: whitesmoke;
    color: black;
    margin-bottom: 0;
    padding: 38px 0 38px;
}

.headText{
    font-size: 2rem;
    margin: 0.82rem 0 0.656rem 0;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0,0,0,0.15);
}

.resultDescrition{
    height: 398px;
    overflow: hidden;
}

/* top */
.menu{
	height: 8%;
	display: flex;
	min-height: 88px;
}

.menudv{
    width: 33.3%;
    text-align: center;
    min-height: 88px;
    background-color: #d6d6d8; 
    cursor: pointer;
}

.menudv:hover{
    width: 33.3%;
    text-align: center;
    min-height: 88px;
    background-color: #000; 
}

.menua {
	 text-decoration: none;
    color: white;
    font-weight: 800;
    display: table;
    margin-left: auto;
    margin-right: auto;
    min-height: 88px; 
}

#menu1{
	border-right: solid 1px #616161; 
}
#menu2{
	border-right: solid 1px #616161; 
}


.menusp {
    display: block;
    padding-top: 35%;
    font-size: 20px;
    min-height: 88px;    
}

/* body */
#container{
	height: 60%;
}


.footer{
	height:14.5%; 
	padding-right: 20px;
	background-color: whitesmoke;
}

.footerText{
	font-size: 1.25rem;
    font-weight: bold;
}